-p base-shaders/base.hlsl -e vs_main -st vs
-p base-shaders/base.hlsl -e ps_main -st ps
-p base-shaders/skybox.hlsl -e vs_main -st vs
-p base-shaders/skybox.hlsl -e ps_main -st ps
-p base-shaders/cube.hlsl -e vs_main -st vs
-p base-shaders/cube.hlsl -e ps_main -st ps
-p base-shaders/cube_instanced.hlsl -e vs_main -st vs
-p base-shaders/cube_instanced.hlsl -e ps_main -st ps
-p base-shaders/stencil_cube.hlsl -e vs_main -st vs
-p base-shaders/stencil_cube.hlsl -e ps_main -st ps
-p base-shaders/fullscreen_triangle.hlsl -e vs_main -st vs
-p base-shaders/blit_copy.hlsl -e ps_main -st ps
-p base-shaders/blit_luminance.hlsl -e ps_main -st ps
-p base-shaders/blit_bloom_1d.hlsl -e ps_main -st ps -d BLUR_HORIZONTAL={0,1}
