-p base-shaders/skybox.slang -e vs_main -st vs
-p base-shaders/skybox.slang -e ps_main -st ps
-p base-shaders/cube.slang -e vs_main -st vs
-p base-shaders/cube.slang -e ps_main -st ps
-p base-shaders/cube_instanced.slang -e vs_main -st vs
-p base-shaders/cube_instanced.slang -e ps_main -st ps
-p base-shaders/stencil.slang -e vs_main -st vs
-p base-shaders/stencil.slang -e ps_main -st ps
-p base-shaders/fullscreen_triangle.slang -e vs_main -st vs
-p base-shaders/blit_copy.slang -e ps_main -st ps
-p base-shaders/blit_luminance.slang -e ps_main -st ps
-p base-shaders/blit_bloom_1d.slang -e ps_main -st ps -d BLUR_HORIZONTAL={0,1}
