-p base-shaders/base.hlsl -e vs_main -st vs
-p base-shaders/base.hlsl -e ps_main -st ps
-p base-shaders/skybox.hlsl -e vs_main -st vs
-p base-shaders/skybox.hlsl -e ps_main -st ps
-p base-shaders/cube.hlsl -e vs_main -st vs
-p base-shaders/cube.hlsl -e ps_main -st ps
-p base-shaders/cube_instanced.hlsl -e vs_main -st vs
-p base-shaders/cube_instanced.hlsl -e ps_main -st ps
